<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HowWinWithMillionApp.Properties.Settings.GameQuestionsConnectionString"
            connectionString="Data Source=DESKTOP-S3PRJ8R\MSSQLSERVER1;Initial Catalog=GameQuestions;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>